@font-face {
  font-family: lust-display;
  src: url("fonts/lust-display-regular.otf") format("opentype");
}

:root {
  --base-transition-duration: 0.3s;

  --hue: 220;
  --tertiary-hue: calc(var(--hue) + 300);
  --accent-hue: calc(var(--hue) + 80);

  --primary-color: hsl(var(--hue), 50%, 90%);
  --pre-primary-color: hsla(var(--hue), 50%, 95%, 20%);
  --secondary-color: hsl(var(--hue), 50%, 10%);
  --tertiary-color: hsl(var(--tertiary-hue), 80%, 20%);
  --accent-color: hsl(var(--accent-hue), 80%, 80%);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 100%;
  overflow: hidden;
  caret-color: transparent;
  overscroll-behavior: none;
  touch-action: none;

  /* Because of how CSS filters work, we need to do this custom */
  /* It must be refreshed if the hue changes with https://codepen.io/sosuke/pen/Pjoqqp with a loss <= 0.3 */
  .option:focus .focus-only-background {
    filter: invert(7%) sepia(26%) saturate(1480%) hue-rotate(182deg) brightness(64%) contrast(97%);
  }

  .option > span {
    text-shadow: 2px 2px 1px black;
  }

  .container {
    background-image: url('images/light-background.jpg');
  }

  &.dark {
    --primary-color: hsl(var(--hue), 50%, 10%);
    --pre-primary-color: hsla(var(--hue), 50%, 15%, 30%);
    --secondary-color: hsl(var(--hue), 50%, 90%);
    --tertiary-color: hsl(var(--tertiary-hue), 80%, 80%);
    --accent-color: hsl(var(--accent-hue), 80%, 20%);
  
    .option:focus .focus-only-background {
      filter: invert(93%) sepia(2%) saturate(1833%) hue-rotate(189deg) brightness(96%) contrast(98%);
    }

    .option > span {
      text-shadow: none;
    }
  
    .container {      
      background-image: url('images/dark-background.jpg');
    }
  }
}

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}

a:not(.fa) {
  color: var(--accent-color);

  h3 & {
    color: var(--primary-color);
  }

  &:hover {
    color: var(--accent-color);
  }
}

h3 {
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  width: fit-content;
  padding: 6px 12px;

  a {
    text-decoration: none;
  }

  .fa {
    margin-left: 8px;
    font-size: 18px;
  }
}

.container {
  display: flex;
  position: relative;
  flex: 1 1 0;
  flex-direction: row;

  /** This gets overriden once the videos have loaded. */
  opacity: 0;

  transition: all 0.5s ease;
  overflow: hidden;
  height: 100%;
  width: 100%;

  background-size: cover;
  background-position: 60% center;
}

.audio-toggle, .dark-toggle {
  position: absolute;
  display: flex;
  bottom: 20px;
  z-index: 3;
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: none;

  cursor: pointer;

  padding: 8px;
  opacity: 0.7;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
  } 
}

.audio-toggle {
  right: 20px;
}

.dark-toggle {
  right: 80px;
}

.hidden-on-mobile {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.left-options {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  overflow-y: clip;
  z-index: 1;

  perspective: 180px;
  margin-left: 20vw;

  .option {
    height: 10vh;
    width: max-content;

    pointer-events: auto;
    outline: none;

    text-transform: uppercase;
    color: var(--primary-color);
    border-radius: 8px;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: clamp(3rem, 10vh, 5em);
    line-height: clamp(3rem, 10vh, 5em);

    /** Controls the xy position of the option */
    transition: transform var(--base-transition-duration) ease-in;

    &:focus {
      background-color: transparent !important;
    }

    &:focus .focus-only-background {
      /** Hack to allow the background to overflow the mask */
      pointer-events: none;

      padding: 20vw;
      margin: -20vw;

      background-image: url(images/masks0.png);
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 40vw 30vh;
      background-position-x: center;
      background-position-y: calc(50% + 6vh);
    }
  
    > span {
      /** This not a no-op, as its needed for stacking context. */
      filter: brightness(1);
      z-index: 2;
      cursor: pointer;

      > span {
        display: inline-block;
        filter: brightness(1);
      }
    }
  }

  .option:nth-of-type(1) {
    margin-top: 10vh;
    transform: rotate3d(0, -1, 0, -5deg);
    rotate: z 23deg;
  }
  .option:nth-of-type(2) {
    transform: rotate3d(0, -1, 0, -5deg);
    margin-right: 3ch;
    rotate: z 13deg;
  }
  .option:nth-of-type(3) {
    transform: rotate3d(0, -1, 0, -5deg);
    margin-top: 3vh;
    margin-right: 3ch;
    rotate: z 10deg;
  }
  .option:nth-of-type(4) {
    transform: rotate3d(0, -1, 0, -5deg);
    margin-top: 3vh;
    margin-right: 3ch;
    rotate: z 4deg;
  }
  .option:nth-of-type(5) {
    transform: rotate3d(0, -1, 0, -5deg);
    margin-top: 3vh;
    margin-right: 3ch;
    rotate: z -2deg;
  }
  .option:nth-of-type(6) {
    transform: rotate3d(0, -1, 0, -5deg);
    margin-top: 2vh;
    margin-right: 2ch;
    rotate: z -6deg;
  }
  
  @media screen and (max-width: 767px) {
    padding-top: 32px;
    margin-left: 10vw;
    align-items: flex-start;
    justify-content: flex-start;

    .option.option {
      height: max-content;
      width: 9ch;
      padding-left: 1ch;
      line-height: 1.6em;
      font-size: 1.6em;
      rotate: z 0deg;
      margin-bottom: 24px;
      margin-top: 0;
      margin-right: 0;
      transform: none;
      z-index: 2;

      .focus-only-background.focus-only-background {
        pointer-events: none;
        z-index: 1;
        padding: 15vh;
        margin: -15vh;
        background-size: 20ch 8ch;
        background-position-y: 5ch;
      }
    }
  }
}

/* The background */
.page {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex: 1 1 0;
  align-items: center;
  z-index: 1;

  /* This color get overriden in JS depending on the video. */
  background-size: cover;

  -webkit-transition: transform var(--base-transition-duration) ease-in;
  -o-transition: transform var(--base-transition-duration) ease-in;
  -moz-transition: transform var(--base-transition-duration) ease-in;
  transition: transform var(--base-transition-duration) ease-in;
  transform-origin: 130vw 0px 0px;

  &.visible {
    transform: rotate3d(0, 0, 0, 0deg);

    .controls {
      transform: translateY(-100vh);
      animation: fall 1s ease-out forwards;
      display: block;
    }
  }

  &:not(.visible) {
    transition-delay: 0s;
    transform: rotate3d(0, 0, 1, -90deg);

    .controls {
      transition-delay: 0s;
      animation: rise 1s ease-out forwards;
      display: none;
    }
  }

  video {
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: var(--base-transition-duration) opacity ease;
  }

  /* The controls */
  .controls {
    position: absolute;
    text-align: end;
    padding: 16px;
    top: 32px;
    right: 32px;
    z-index: 2;
    text-align: center;

    .code {
      &:not(.fa) {
        font-family: monospace;
      }

      font-size: 12px;
      background-color: var(--pre-primary-color);
      padding: 2px 4px;
      margin: 0px 4px;
      border-radius: 4px;
    }

    transition: var(--base-transition-duration) all ease;
    border-radius: 10px;
    background-color: var(--secondary-color);

    color: var(--primary-color);

    @media screen and (max-width: 767px) {
      &.controls {
        display: none;
      }
    }
  }

  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    min-width: 30vw;
    max-width: 40vw;
    min-height: 30vh;
    max-height: 80vh;
    border-radius: 10px;
    padding: 16px;

    h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    h4 {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
    }

    p, li {
      font-size: 1em;
    }

    ul > li {
      list-style: none;
    }
    
    @media screen and (max-width: 767px) {
      justify-content: flex-start;
      overflow-y: scroll;

      ul {
        padding-inline-start: 0px;

        li {
          margin-bottom: 16px;
        }
      }
    }
  }
}

.page.home {
  background-image: url('images/pittsburgh.png');
  animation: wobble-background 8s infinite ease;
  z-index: 0;

  &:not(.visible) {
    transition-timing-function: ease;
    transition-delay: var(--base-transition-duration);
    transform: rotate3d(0, 0, 1, -90deg);
  }

  @media screen and (max-width: 767px) {
    background-position-x: 75%;

    /** Take just a tiny bit longer on mobile. */
    transition: transform 0.4s ease-in;
  }
}

.page.about-me, .page.contact {
  perspective: 500px;
  justify-content: flex-end;

  .text-section {
    justify-content: flex-start;
    height: fit-content;
    width: 45vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    transform: translateX(-20px) rotate3d(0, -1, 0, 5deg);
  }

  ul {
    padding-inline-start: 12px;
  }

  video {
    height: 80vh;
    width: fit-content;
    left: 18vw;

    transition: transform var(--base-transition-duration) ease;
    transition-delay: var(--base-transition-duration);
    transform: rotateY(5deg);
    
    border: 5px solid var(--secondary-color);
    box-sizing: border-box;
  }

  @media screen and (max-width: 767px) {
    align-items: flex-end;

    .text-section {
      height: auto;
      margin-right: 0vw;
    }

    video {
      height: 100vh;
      left: 0;
      transform: none;
      border: none;
    }
  }
}

.page.skills {
  align-items: center;
  justify-content: flex-end;
  background-color: #1A1A1A;

  .text-section {
    transform: translateX(-5vw) rotate3d(0, 1, 0, 8deg);

    width: 40vw;
    overflow-y: scroll;

    justify-content: flex-start;

    ul {
      padding-inline-start: 12px;

      > li {
        list-style-type: disc;
        list-style-position: inside;
      }

      li > & {
        padding-inline-start: 12px;
        padding-bottom: 12px;
        padding-top: 12px;
      }
    } 
  }

  video {
    height: 100%;
    width: auto;
    left: 0%;

    transition: transform var(--base-transition-duration) ease;
    transition-delay: var(--base-transition-duration);
  }

  @media screen and (max-width: 767px) {
    .text-section {
      max-width: 80vw;
      width: 80vw;
      height: 90vh;
    }

    video {
      height: 100vh;
      left: 0;
    }
  }
}

.page.projects {
  perspective: 500px;

  .text-section {
    margin-left: 50vw;
    width: 45vw;
    max-width: none;
    height: 90vh;
    justify-content: flex-start;
    transform: translateX(-20px) rotate3d(0, -1, 0, 5deg);

    /** This is needed to prevent bleeding out of the page */
    overflow: hidden;
  }

  .glide__slides {
    height: 70vh;

    ul > li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  .glide__slide {
    padding-right: 8px;
    overflow-y: scroll;
  }

  .glide__bullets {
    text-align: center;

    .glide__bullet {
      display: inline-block;
      height: 16px;
      width: 16px;

      border: 1px solid white;
      border-radius: 50%;
      background-color: var(--secondary-color);

      &.glide__bullet--active {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
      }

      &:not(.glide__bullet--active) {
        cursor: pointer;
      }
    }
  }

  .two-column {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 16px;
    
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .skills-list {
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    flex: 1 1 0;
    padding: 16px;
    padding-top: 0px;

    h4 {
      text-decoration: underline;
    }
  }

  video {
    width: 40vw;
    left: 8vw;
    transition: transform var(--base-transition-duration) ease;
    box-shadow: 0px 4px 4px #00000030;
    height: fit-content;

    /* The first video is different, since its the only vertical one */
    &[data-index="0"] {
      height: 80vh;
      width: fit-content;
      left: 18vw;
    }

    transform: rotateY(10deg);
    @media screen and (max-width: 767px) {
      transform: rotateX(-5deg);
      &[data-index="0"] {
        left: 25vw;
        margin: 1vh 0 0 5vw;
        transform: rotateX(-5deg);
        scale: 0.9;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .controls.controls {
      display: block;
      padding: 0px 8px;
      line-height: normal;
      width: fit-content;

      animation: none;
      margin: auto;
      right: 0;
      left: 0;
      top: 16px;
      bottom: auto;
      text-align: center;
    }

    video {
      margin: 5vh 0 0 5vw;
      max-height: 40vh;
      width: 90vw;
      height: auto;
      left: 0vw;
      align-self: flex-start;
    }

    .text-section {
      font-size: 1em;
      padding-top: 0px;
      margin-top: 0;
      margin-left: 0;
      align-self: flex-end;
      max-width: 100vw;
      width: 100vw;
      border-radius: 8px 8px 0px 0px;
      box-sizing: border-box;
      height: calc(100% - 40vh);
      transform: none;
    }

    .glider-contain {
      height: 100%;
    }

    .glide__slides {
      overflow-y: scroll;
      overscroll-behavior: none;
      height: 50vh;
    }
  }
}

.page.blog {
  .text-section {
    margin-left: 50vw;
    min-height: 20vh;
    border-radius: 10px;
  }

  ul > li {
    list-style-type: disc;
    list-style-position: inside;
  }

  video {
    width: 100%;
    top: -90%;
  }

  @media screen and (max-width: 767px) {
    video {
      height: 100%;
      width: auto;
      top: 0;
    }
  }
}

/* Font Awesome Icons */
.fa {
  font-size: 24px;
  margin: 0px 6px;
  border-radius: 50%;
}

.page.credits {
  background: radial-gradient(red, black);

  .text-section {
    margin-top: 30vh;
    margin-left: 60vw;
    min-height: 20vh;
    border: 1px solid white;
    border-radius: 10px;

    ul {
      padding-inline-start: 12px;      
    }

    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  video {
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    .text-section {
      margin-top: 0;
      margin-left: 0;
      border: none;
      border-radius: 0px;
      align-self: flex-end;
      max-width: 100vw;
      width: 100vw;
      box-sizing: border-box;
      height: calc(100% - 196px);
    }

    video {
      height: auto;
      align-self: flex-start;
    }
  }
}

/** Projects carousel */
.glider-container {
  width: 500px;
  max-width: 80%;
  margin: 0 auto;
}


@keyframes wobble-background {
  0% { background-position: 75% 50%; }
  25% { background-position: 74.5% 52%; }
  50% { background-position: 75% 48%; }
  75% { background-position: 75.5% 52%; }
  100% { background-position: 75% 50%; }
}
  
/* Keyframe Animation for Falling Images */
@keyframes fall {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Keyframe Animation for Rising up  */
@keyframes rise {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #35424a;
  color: #ffffff;
  width: 100%;
  bottom: 0;
}

/** Initial page loader */
.loader-container {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding-left: 25vw;

}

.loader-text {
  position: absolute;
  display: flex;
  align-items: center;
  height: 128px;
  margin-top: 96px;
  width: 100%;

  font-family: lust-display;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;

  background-image: url('images/masks5.png');
  background-repeat: no-repeat;
  background-size: 20ch 128px;

  span {
    width: 20ch;
    margin-left: 6ch;
    margin-bottom: 8px;

    display: inline-block;
    transform: translateX(0vw);
    overflow: hidden;
    color: white;
    animation: sliding-text 1.25s infinite;
    z-index: 1;
    filter: brightness(1);
  }
}

@keyframes sliding-text {
  20%  {transform: translateX(0vw);}
  60%  {transform: translateX(0vw);}
  80% {transform: translateX(-100vw);}
  81% {transform: translateX(100vw);}
}

.loader-ring {
  position: relative;
  width: 260px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 30px;
  background:
    radial-gradient(ellipse at 50% 00%, white 10%, white)  10px/50px no-repeat,
    radial-gradient(farthest-side,#000 95%,#000) 50% 0px/2px 70px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 3px),#000000a0 calc(100% - 12px)) content-box;
  transform: rotate(0deg);
  animation: ring-loop 1.25s infinite;
  animation-delay: 0.8s;
  z-index: -1;
}

@keyframes ring-loop {to{transform: rotate(360deg)}}
