.links {
	color: black;
	font-family: Sans-serif;
}

h1{
	text-align: center;

}

#myPicture{

    margin-top: 30%; 
   /* margin-top: 0 auto;
    padding: 0 auto;
    border: 0 auto; */ 
}

.blurb{

	text-align: center;
}
.box{
	border-style:solid;
	border-spacing: 5px;
}

.current {
    
    text-align: center;
	font-size:2em;

}

.currentWork{
    
    text-align: center;
	margin-left:30%;
	font-size:1.5em;
	margin-right:50px;
	margin-bottom:50px;
}

#picture1{
	margin-top: 50px;
}

#picture2{
	margin-top: 50px;
}

.ICS1{

	margin-left: 150px;
	
	margin-top:50px;
}

.ICS2{
	margin-left:20px;
	margin-top:50px;;
}


#description1{
    font-size:1.5em;
	margin-top:100px;
	margin-left:75px;
	margin-right:25px;
	text-align: left;
}

#description2{
	font-size:1.5em;
	margin-top: 100px;
	margin-left:75px;
	margin-right:25px;
	text-align: left;
}

#intro{


}

section#skills{
	
	background-color:#EEEEEE;
}

section#about{
	
	background-color:#EEEEEE;
}

section#projects{
	
	background-color:#EEEEEE;
}

section#end{

	text-align:center;
	background-color: #EEEEEE;
	
}



.site-wrapper {
	background-color:#EEEEEE;
}



section div h1{

	text-align:center;
}

section ul li{

	font-size:1.2em;
	margin-left: 100px;
	margin-right: 100px;
}

section div p{
	margin-left:120px;
}

table, td {
   border: 2px black solid;
}

