:root {
  /* Primary Colors */
  --color-accent: #FF9B42; /* Accent color */
  --color-secondary-accent: #FAB997; /* Secondary accent */
  --color-tertiary-accent: #f3b36a; /* Soft tertiary color */

  /* Dark Theme Colors */
  --color-primary-dark: #0E4749; /* Primary dark background or text */
  --color-secondary-dark: #002626; /* Secondary dark background or text */

  /* Text and Background */
  --color-background-light: #F1D9CC; /* Optional light background */
  --color-text-dark: #000000; /* Optional dark text */

  /* Hover and Active States */
  --color-hover-accent: #FF9B42; /* Hover variation of accent */
  --color-hover-dark: #123C3E; /* Hover variation of dark primary */

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html {
  height: 100%;
  background-color: var(--color-background-light);
}

body {
    height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--color-background-light);
}
  
a {
  color: var(--color-accent);
}
  
a:hover {
  color: var(--color-hover-accent);
}

.container {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  padding: 32px;
  width: 60vw;
}

/* Left Gallery Styling */
.left-gallery {
  flex: 0 1 30%;
}

.left-gallery {
  align-items: center;
  padding: 24px;
  display: grid;
  /* grid-template-areas:
    "tall1 empty1 small tall2"
    "tall1 large large tall2"
    "empty2 large large empty3"
    "wide wide empty4 empty5"; */
  gap: 10px;
  position: relative;
}

img.box {
  max-width: 500px;

  background-color: #FF9B42;
  border: 2px solid #0E4749;
  border-radius: 10px;
  opacity: 0; /* Start hidden for animation */
  animation: fall 1s ease-out forwards;
}

/* Specific sizes for boxes */
.large {
  grid-area: large;
  height: 200px;
  width: 200px;
}

.small {
  grid-area: small;
  height: 50px;
  width: 50px;
}

.tall1 {
  grid-area: tall1;
  height: 200px;
  width: 50px;
}

.tall2 {
  grid-area: tall2;
  height: 200px;
  width: 50px;
}

.wide {
  grid-area: wide;
  height: 50px;
  width: 100px;
}

/* Right Side: Content Lines */
.right-content {
  flex: 1;
  display: flex;
  padding: 32px;
  gap: 16px;
  flex-direction: column;
  justify-content: center;

  .tagline, .text-section {
    background-color: var(--color-accent);
    color: var(--color-secondary-dark);
    border: 3px solid var(--color-secondary-dark);
  }
}

.tagline {
  font-size: 24px;
  font-weight: 700;
  padding: 16px;

  border-radius: 10px;
}

.text-section {
    font-weight: 700;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
}
  
/* Keyframe Animation for Falling Images */
@keyframes fall {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #35424a;
  color: #ffffff;
  width: 100%;
  bottom: 0;
}